body{
    background-color: #f9efd4;
}
h1{
    margin-left: 42%;
    
}
.div-textos{
    background-color: #b8cabe;
    font-size: x-large;
    text-align: center;
    width: 40%;
    margin-left: 29%;
    border-radius: 3%;
    line-height: 40px;
}